/* General Styles */
body {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    padding: 1rem;
  }
  
  h1, h2, h3, h4, h5 {
    font-weight: bold;
  }
  
  /* Responsive Breakpoints */
  @media (max-width: 768px) {
    .navbar-brand {
      font-size: 1.2rem;
    }
  }
  
  /* Custom Colors */
  .bg-primary {
    background-color: #007bff !important;
  }
  
  .btn-primary {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .btn-primary:hover {
    background-color: #004085;
  }